# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin/
obj/
# VS user preference configs, specific to your machine
*.suo
*.DotSettings
*.user
*.dll
*.pdb
# Tooling
*.ncrunchsolution
_ReSharper*/
*.resharper
*.StyleCop
# Test coverage files in the TestResults
*.coverage
# Nuget packages dir. 
packages/
[Tt]est[Rr]esult*
